@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-light-outline border-2 border-light-outline text-light-background px-6 py-2 rounded-lg transition-all duration-300 hover:border-2 font-semibold;
  }

  .btn-primary {
    @apply bg-light-primaryFixed border-light-primaryFixed text-light-onPrimaryFixed hover:bg-light-primaryFixedDim hover:border-light-primaryFixedDim;
  }

  .btn-secondary {
    @apply bg-light-secondaryFixed border-light-secondaryFixed text-light-onSecondaryFixed hover:bg-light-secondaryFixedDim hover:border-light-secondaryFixedDim;
  }

  .btn-tertiary {
    @apply bg-light-tertiaryFixed border-light-tertiaryFixed text-light-onTertiaryFixed hover:bg-light-tertiaryFixedDim hover:border-light-tertiaryFixedDim;
  }

  .btn-primary__outlined {
    @apply bg-light-background border-light-onPrimaryFixedVariant text-light-onPrimaryFixedVariant hover:bg-light-onPrimaryFixedVariant hover:border-light-onPrimaryFixedVariant hover:text-light-onPrimary;
  }

  .btn-secondary__outlined {
    @apply bg-light-primaryFixed border-light-primaryFixed text-light-onPrimaryFixed hover:bg-light-primaryFixedDim hover:border-light-primaryFixedDim;
  }

  .btn-tertiary__outlined {
    @apply bg-light-primaryFixed border-light-primaryFixed text-light-onPrimaryFixed hover:bg-light-primaryFixedDim hover:border-light-primaryFixedDim;
  }
}

@layer utilities {
  .text__display-large {
    @apply font-sans font-bold text-[57px] leading-[64px] tracking-[-0.25];
  }

  .text__display-medium {
    @apply font-sans font-bold text-[45px] leading-[52px];
  }

  .text__display-small {
    @apply font-sans font-bold text-4xl leading-[44px];
  }

  .text__headline-large {
    @apply font-sans text-[32px] leading-10;
  }

  .text__headline-medium {
    @apply font-sans text-[28px];
  }

  .text__headline-small {
    @apply font-sans text-2xl;
  }

  .text__body-large {
    @apply font-sans text-base tracking-[0.5];
  }

  .text__body-medium {
    @apply font-sans text-sm tracking-[0.25];
  }

  .text__body-small {
    @apply font-sans text-xs tracking-[0.4000000059604645];
  }

  .text__label-large {
    @apply font-sans font-medium text-sm tracking-[0.10000000149011612];
  }

  .text__label-meduim {
    @apply font-sans font-medium text-xs tracking-[0.5];
  }

  .text__label-small {
    @apply font-sans font-medium text-[11px] leading-4 tracking-[0.5];
  }

  .text__title-large {
    @apply font-sans font-normal text-[22px] leading-7;
  }

  .text__title-meduim {
    @apply font-sans font-medium text-base tracking-[0.15000000596046448];
  }

  .text__title-small {
    @apply font-sans font-medium text-[11px] leading-5 tracking-[0.10000000149011612];
  }
}
