@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center justify-center rounded-lg border-2 border-light-outline bg-light-outline px-6 py-2 font-semibold text-light-background transition-all duration-300 hover:border-2;
  }

  .btn-primary {
    @apply border-light-primaryFixed bg-light-primaryFixed text-light-onPrimaryFixed hover:border-light-primaryFixedDim hover:bg-light-primaryFixedDim;
  }

  .btn-secondary {
    @apply border-light-secondaryFixed bg-light-secondaryFixed text-light-onSecondaryFixed hover:border-light-secondaryFixedDim hover:bg-light-secondaryFixedDim;
  }

  .btn-tertiary {
    @apply border-light-tertiaryFixed bg-light-tertiaryFixed text-light-onTertiaryFixed hover:border-light-tertiaryFixedDim hover:bg-light-tertiaryFixedDim;
  }

  .btn-primary__outlined {
    @apply border-light-onPrimaryFixedVariant bg-light-background text-light-onPrimaryFixedVariant hover:border-light-onPrimaryFixedVariant hover:bg-light-onPrimaryFixedVariant hover:text-light-onPrimary;
  }

  .btn-secondary__outlined {
    @apply border-light-primaryFixed bg-light-primaryFixed text-light-onPrimaryFixed hover:border-light-primaryFixedDim hover:bg-light-primaryFixedDim;
  }

  .btn-tertiary__outlined {
    @apply border-light-primaryFixed bg-light-primaryFixed text-light-onPrimaryFixed hover:border-light-primaryFixedDim hover:bg-light-primaryFixedDim;
  }
}

@layer utilities {
  .text__display-large {
    @apply text-[57px] font-bold leading-[64px] tracking-[-0.25];
  }

  .text__display-medium {
    @apply text-[45px] font-bold leading-[52px];
  }

  .text__display-small {
    @apply text-4xl font-bold leading-[44px];
  }

  .text__headline-large {
    @apply text-[32px] leading-10;
  }

  .text__headline-medium {
    @apply text-[28px];
  }

  .text__headline-small {
    @apply text-2xl;
  }

  .text__body-large {
    @apply text-lg tracking-[0.5];
  }

  .text__body-medium {
    @apply text-base tracking-[0.25];
  }

  .text__body-small {
    @apply text-sm tracking-[0.4000000059604645];
  }

  .text__label-large {
    @apply text-sm font-semibold tracking-[0.10000000149011612];
  }

  .text__label-meduim {
    @apply text-xs font-semibold tracking-[0.5];
  }

  .text__label-small {
    @apply text-[11px] font-semibold leading-4 tracking-[0.5];
  }

  .text__title-large {
    @apply text-[22px] font-semibold leading-7;
  }

  .text__title-meduim {
    @apply text-base font-semibold tracking-[0.15000000596046448];
  }

  .text__title-small {
    @apply text-[11px] font-semibold leading-5 tracking-[0.10000000149011612];
  }
}

input[type='number'],
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  outline: none !important;
  border: none;
  appearance: textfield;
  margin: 0;
}
input:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
